<% if show_nav_bar? %>
<ul class="nav nav-pills ">
  <li class="nav-item"><a class="nav-link" href="<%= announces_path %>">Все объявления</a></li>
  <li class="nav-item"><a class="nav-link" href="<%= my_announcements_path %>">Мои объявления</a></li>
</ul>
<% end %>